.footer {
    width: 100%;
    height: 25vh;
    background: #8c72e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 200px;
}

.footer-icons svg {

    color: white;
    margin: 10px;
    font-size: 12vh;
    cursor: pointer;
}


.footer p {
    margin: none;
    font-size: 3vh;
    color: white;
}