.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
}

.project img {
    width: 80vh;
    height: 60vh;
    border-radius: 10px;
}

.project p {
    font-size: 40px;
    color: #3e497a;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: #3e497a;
}


@media only screen and (max-width: 600px) {
    .project img {
        width: 40vh;
        height: 30vh;
    }

    .project p {
        font-size: 18px;
    }

    .project h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    a {
        font-size: 15px;
    }
}